body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;
    background-color: linen;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.calc-container {
    border: 1px solid black;
    width: 270px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

.calc-btns {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    column-gap: 10px;
    row-gap: 10px;
}

.calc-screen {
    text-align: right;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: white;
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    border-radius: 5px;
    color: black;
    font-size: 25px;
}

.btn {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;

}

.btn:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

.span-btn {
    grid-column-start: span 2;
}

.op-btn, .equals-btn {
    background-color: orange;
}

.clear-btn, .plus-minus-btn, .percent-btn {
    background-color: lightgray;
    color: black;
}

.num-btn, .decimal-btn {
    background-color: gray;
}